html, body, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  border-radius: 15px;
  justify-content: space-evenly;
}

.app-content {
display: flex;
align-items: center;
flex-direction: column;
}

.content {
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 70%;
}

.empty {
  background-color: lightsteelblue;
}

.none {
  background-color: lightpink;
}

.used {
  background-color: rgb(229, 229, 191);
}

.used, .none, .empty {
  margin: 33px;
  border-radius: 15px;
  padding: 33px;
  max-height: 300px;
}